.shopItem {
  width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;

  .imageItems {
    position: relative;
    display: flex;
    align-items: flex-start;

    .itemImages {
      display: flex;
      flex-direction: column;
      width: 100px;
      cursor: pointer;
      width: 200px;
      height: 400px;
      overflow-y: scroll;

      .imagesContainer {
        padding: 5px;
        background-color: #eee;
        margin: 5px 0;
        border-radius: 4px;

        img {
          width: 100%;
        }
      }
    }

    .itemImage {
      width: 400px;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #eee;

      img {
        max-width: 90%;
        max-height: 90%;
      }
    }

    .searchItemshop {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .overviewItem {
    text-align: start;
    width: 565px;

    .itemTitle {
      border-bottom: .2px solid #a2d1ab;
      padding-bottom: 10px;

      h1 {
        font-size: 28px;
      }

      .itemPrices {
        display: flex;
        justify-content: space-between;
      }

      .price {
        color: rgb(70, 163, 88);
        font-size: 22px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
      }

      .starts {
        display: flex;
        align-items: center;

        p {
          margin: 0;
          padding-left: 10px;
        }
      }
    }

    .descriptionItem {
      h5 {
        margin: 10px 0;
        color: rgb(61, 61, 61);
        font-size: 15px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
      }

      p {
        margin: 0 10px;
        color: rgb(114, 114, 114);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
      }
    }

    .sizeItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 15px 0;
      gap: 5px;

      h5 {
        margin: 0;
        font-size: 20px;
      }

      .sizeOption {
        display: flex;
        gap: 30px;
        margin: 10px 0;

        div {
          border: 1px solid #eaeaea;
          background-color: transparent;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          cursor: pointer;
          transition: all ease-in-out .1s;

          &:hover {
            border: 1px solid #46a358 !important;
            color: #098700;
            font-weight: 600;
          }
        }

        .activeSize {
          border: 1px solid #46a358 !important;
          color: #098700;
          font-weight: 600;
        }
      }
    }

    .counterItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0;

      .countItem {
        display: flex;
        align-items: center;
        gap: 15px;

        div {
          border: 1px solid #46a358;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          cursor: pointer;
          transition: all ease-in-out .1s;

          &:hover {
            background-color: #46a358;
            color: #ffffff;
          }
        }
      }

      .addCartBtn {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
          height: 40px;
          width: 130px;
          border-radius: 10px;
          font-weight: 600;
          cursor: pointer;
          transition: all ease-in-out .15s;
        }

        .buyItem {
          background-color: #46a358;
          color: #ffffff;

          &:hover {
            background-color: #098700;
          }
        }

        .addCart {
          background: transparent;
          border: 1px solid #46a358;
          color: #46a358;

          &:hover {
            background-color: #098700;
            color: #eee;
          }
        }
      }

      .addToWishlist {
        border: 1px solid #eaeaea;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        transition: all ease-in-out .15s;
        cursor: pointer;

        &:hover {
          border: 1px solid green;
          transform: scale(1.1);
        }

        img {
          width: 30px;
          height: 30px;
        }
      }

      .activeToWishList {
        border: 1px solid green;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        transition: all ease-in-out .15s;
        cursor: pointer;
      }
    }

    .information {
      text-align: start;
      margin: 30px 0 0;

      p {
        margin: 5px 0;
      }
    }
  }
}

.itemDescriptions {
  width: 1200px;
  margin: 50px auto;


  .pages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid #46a358;
    font-size: 18px;

    div {
      cursor: pointer;
      padding: 10px 20px;
    }

    .active {
      border-bottom: 4px solid #098700;
      font-weight: 700;
    }
  }

  .descriptions {
    text-align: start;

    h5 {
      font-size: 20px;
      font-weight: 700;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      margin: 20px 0;
      line-height: 130%;
      text-indent: 15px;
    }
  }
}