.orderProduct {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 10px 5px;
}

.image {
   display: flex;
   align-items: center;
}

.image>div p {
   margin: 0;
}

.image img {
   width: 60px;
}

.orderProduct>.price p {
   color: #46a358;
}